services:
  devops-intelligence:
    build: .
    container_name: devops-intelligence-center
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./chroma_db:/app/chroma_db # Adjust this path based on your .env DOCS_RAG_PATH
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

networks:
  default:
    name: devops-net
