streamlit
ollama
chromadb
python-dotenv
requests
sseclient-py
langchain-ollama
langchain-core
langchain-community
langchain
mcp
httpx
pywin32; sys_platform == 'win32'
pypiwin32; sys_platform == 'win32'
kubernetes
pydantic
